* {
    margin: 0;
}

header .menu {

    background-color: rgb(113, 113, 121);
}

.destaques {

    padding-bottom: 20px;

    background-color: rgba(113, 113, 121, 0.551);
}

.destaques .titulo {

    text-align: center;
    background-color: rgba(113, 113, 121, 0.551);
    padding: 2px;
}

.trailer {

    text-align: center;
    background-color: rgba(113, 113, 121, 0.551);
}

.trailer iframe {

    width: 100%;
    height: 100%;
    background-color: rgba(113, 113, 121, 0.551);
}

.lancamentos {

    background-color: rgba(113, 113, 121, 0.551);
    padding: 2% 8% 2% 8%;
}

.lancamentos iframe {

    width: 95%;
    height: 65%;
    background-color: rgba(113, 113, 121, 0.551);
}

.plataformas {

    background-color: rgba(113, 113, 121, 0.551);
    padding: 2% 8% 2% 8%;
}

.publishers {
    background-color: rgba(113, 113, 121, 0.551);
    padding: 2% 8% 2% 8%;
}

footer {

    background-color: rgb(113, 113, 121);
}